---
import speakingData from "../data/speakingData.json"
---

<section>
  {
    speakingData.map((year) => (
      <section id="all-talks">
        <h3>{year.year}</h3>
        <ul>
          {year.content.map((talk) => (
            <li>
              <a
                href={talk.link}
                class="external-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                {talk.title}
              </a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }

  <style>
    @reference "../styles/base.css";
    section {
      @apply w-full pb-4;
    }
    #all-talks {
      @apply pb-4;
    }
    #all-talks h3 {
      @apply text-2xl font-semibold sm:text-3xl;
    }
    #all-talks li {
      @apply mt-2 mb-6 text-xl font-medium italic focus-visible:outline-dashed;
    }
  </style>
</section>
